#include <bits/stdc++.h>
using namespace std;

struct Process_Data
{
	int Num;
	int P_id;  //Process Id
	int Arrival; //Process Arrival Time
	int Burst; //Process Bruest Time
	int Priority; //Process Priority
	int Finish; //Process Finish Time
	int Remaining; //Process Remaining  Time During Execution
	int Waiting; //Waiting Time
	int Start; //Process start Time
	int Res_time;

};

struct Process_Data current;
typedef struct Process_Data P_d ;

bool idsort(const P_d& x , const P_d& y)
{
	return x.P_id < y.P_id;
}
/** Sorting on the base of arrival time if that match then on Priority of Priority also  match than on the base of Process Id**/
bool arrivalsort( const P_d& x ,const P_d& y)
{
	if(x.Arrival < y.Arrival)
		return true;
	else if(x.Arrival > y.Arrival)
		return false;
	if(x.Priority < y.Priority)
		return true;
	else if(x.Priority > y.Priority)
		return false;
	if(x.P_id < y.P_id)
		return true;

	return false;
}


bool Numsort( const P_d& x ,const P_d& y)
{
	return x.Num < y.Num;
}
/*Sorting on the base of Priority if that same then on the base of P_ID*/
struct comPare
{
	bool operator()(const P_d& x ,const P_d& y)
	{
		if( x.Priority > y.Priority )
			return true;
		else if( x.Priority < y.Priority )
			return false;
		if( x.P_id > y.P_id )
			return true;

		return false;
		
	}
	
};
/**To check the Input **/
void my_check(vector<P_d> mv)
{
	for(unsigned int i= 0; i < mv.size() ;i++)
	{
		cout<<" P_id :"<<mv[i].P_id<<" Arrival : "<<mv[i].Arrival<<" Burst : "<<mv[i].Burst<<" Priority : "
		<<mv[i].Priority<<endl;
	}

}
int main()
{
	int i;
	vector< P_d > input;
	vector<P_d> input_copy;
	P_d temp;
	int pq_process = 0; // for PQ process
	int rq_process = 0; // for RQ process
	int Arrival;
	int Burst;
	int P_id;
	int Priority;
	int n;
	int clock;
	int total_exection_time = 0;
	cin>>n;
	for( i= 0; i< n; i++ )
	{
		cin>>P_id>>Arrival>>Burst>>Priority;
		temp.Num = i+1;
		temp.Arrival = Arrival;
		temp.Burst = Burst;
		temp.Remaining = Burst;
		temp.P_id = P_id;
		temp.Priority = Priority;
		input.push_back(temp);
	}
	input_copy = input;
	sort( input.begin(), input.end(), arrivalsort );
    total_exection_time = total_exection_time + input[0].Arrival;
    for( i= 0 ;i< n; i++ )
    {
    	if( total_exection_time >= input[i].Arrival )
    	{
    		total_exection_time = total_exection_time +input[i].Burst;
    	}
    	else
    	{
    		int diff = (input[i].Arrival - total_exection_time);
    		total_exection_time = total_exection_time + diff + Burst;

    	}
    }

	int Ghant[total_exection_time]={0}; //Ghant Chart
	for( i= 0; i< total_exection_time; i++ )
	{
		Ghant[i]=-1;
	}
	//cout<<"total_exection_time : "<<total_exection_time<<endl;

	priority_queue < P_d ,vector<Process_Data> ,comPare> pq; //Priority Queue PQ

	queue< P_d > rq; //Round Robin Queue RQ
	int cpu_state = 0; //idle if 0 then Idle if 1 the Busy
	int quantum = 4 ; //Time Quantum
	current.P_id = -2;
	current.Priority = 999999;

	for ( clock = 0; clock< total_exection_time; clock++ )
	{
		/**Insert the process with same Arrival time in Priority Queue**/
		for( int j = 0; j< n ; j++ )
		{
			if(clock == input[j].Arrival)
			{
				pq.push(input[j]);
			}
		}
		

		if(cpu_state == 0) //If CPU idle
		{
			if(!pq.empty())
			{
				current = pq.top();
				cpu_state = 1;
				pq_process = 1;
				pq.pop();
				quantum = 4; 
			}
			else if(!rq.empty())
			{
				current = rq.front();
				cpu_state = 1;
				rq_process = 1;
				rq.pop();
				quantum = 4;
			}
		}
		else if(cpu_state == 1) //If cpu has any procss
		{
			if(pq_process == 1 && (!pq.empty()))
			{
				if(pq.top().Priority < current.Priority ) //If new process has high priority
				{
					rq.push(current); //push current in RQ
					current = pq.top();
					pq.pop();
					quantum = 4; 
				}
			}
			else if(rq_process == 1 && (!pq.empty())) //If process is from RQ and new process come  in PQ
			{
				rq.push(current);
				current = pq.top();
				pq.pop();
				rq_process = 0;
				pq_process = 1;
				quantum = 4 ;
			}
		}
		if(current.P_id != -2) // Process Execution
		{
			current.Remaining--;
			quantum--;
			Ghant[clock] = current.P_id;
			if(current.Remaining == 0) //If process Finish
			{
				cpu_state = 0 ;
				quantum = 4 ;
				current.P_id = -2;
				current.Priority = 999999;
				rq_process = 0;
				pq_process = 0;
			}
			else if(quantum == 0 ) //If time Qunatum of a current running process Finish
			{
				rq.push(current);
				current.P_id = -2;
				current.Priority = 999999;
				rq_process = 0;
				pq_process = 0;
				cpu_state=0;

			}

		}
		
	}


	sort( input.begin(), input.end(), idsort );
	
	for(int i=0;i<n;i++)
	{
		for(int k=total_exection_time;k>=0;k--)
		{
			if(Ghant[k]==i+1)
			{
				input[i].Finish=k+1;
				break;

			}
		}
	}
	for(int i=0;i<n;i++)
	{
		for(int k=0;k<total_exection_time;k++)
		{

			if(Ghant[k]==i+1)
			{
				input[i].Start=k;
				break;
			}
		}
	}
	
	sort( input.begin(), input.end(), Numsort );

	for(int i=0;i<n;i++)
	{
		input[i].Res_time=input[i].Start-input[i].Arrival;
		input[i].Waiting=(input[i].Finish-input[i].Arrival)-input[i].Burst;

	}
	
	for(int i=0;i<n;i++)
	{
		cout<<input[i].P_id<<" "<<input[i].Res_time<<" "<<input[i].Finish<<" "<<input[i].Waiting<<endl;
		
	}	
	return 0;

}
